
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách vòng đấu</title>
</head>
<body>
    <h1>Danh sách vòng đấu</h1>
    <ul>
        {% for vongDau in dsVongDau %}
        {% if vongDau.getThoiGian() < thoiGianHienTai %}
        <li onclick="selectVongDau('{{ vongDau.getMaVongDau() }}')">STT: {{ vongDau.getMaVongDau() }}, Số vòng: {{ vongDau.getSoVong() }}, Thời gian: {{ vongDau.getThoiGian() }}</li>
    {% else %}
        <li onclick="showWarning()">STT: {{ vongDau.getMaVongDau() }}, Số vòng: {{ vongDau.getSoVong() }}, Thời gian: {{ vongDau.getThoiGian() }} - Vòng đấu chưa diễn ra</li>
    {% endif %}
        {% endfor %}
    </ul>
    <button onclick="returnToBTCFrm()">Quay về trang chủ</button>

    <form id="selectVongDauForm" action="/process_vong_dau" method="GET" style="display: none;">
        <input type="hidden" id="selectedVongDau" name="selectedVongDau">
    </form>


    <script>
        function selectVongDau(maVongDau) {
            document.getElementById("selectedVongDau").value = maVongDau;
            document.getElementById("selectVongDauForm").submit();
        }

        function showWarning() {
            alert("Vòng đấu chưa diễn ra, vui lòng chọn lại vòng đấu");
        }

        function returnToBTCFrm() {
            window.location.href = "/";
        }
    </script>
</body>
</html>
