<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách cờ thủ trong bảng xếp hạng</title>
</head>
<body>
    <h1>Danh sách cờ thủ trong bảng xếp hạng</h1>
    <ul>
        {% for coThu in dsCoThu %}
            <li>STT: {{ loop.index }}, Mã cờ thủ: {{ coThu.getMaCoThu() }}, Tên: {{ coThu.getCoThu().getTen() }}, Năm sinh: {{ coThu.getCoThu().getNamSinh() }}, Quốc tịch: {{ coThu.getCoThu().getQuocTich() }}, Tổng điểm: {{ coThu.getTongDiem()}}, Tổng điểm đối thủ: {{coThu.getTongDiemDoiThu()}}, Hệ số Elo: {{ coThu.getCoThu().getHeSoElo() }}</li>
    </br>
        {% endfor %}
    </ul>
    <button onclick="returnToBXHFrm()">Xong</button>
    <script>
        function returnToBXHFrm() {
            window.location.href = "/BXH";
        }
    </script>
</body>
</html>